
# Ignore Gradle files
*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/filelist.md
/docs/project_context.md
/app/release/app-release.aab


# Temporary- and logfiles
/temp

/TODO.md

# Keystore-secrets
dvcard-keys/keystore.properties
*.jks
*.keystore
/dvcard-keys/
